//
//
//

.o-image-rotator {
  .image-outlet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-image: url(http://lorempixel.com/400/200/);
    background-size: cover;
  }

  .image-collection {
    display: none !important;
  }
}