---
layout: page
title: Awards
permalink: /awards/

published:
  - Haworth Houston Showroom, Interior Design, June 1982
  - NeoCon Chicago Showroom, Contract, 1982
  - Toronto Showroom, Contract, 1983
  - World Workplace, Salt Lake City, Exibitz Magazine, 1998

awards:
  - IDEX Tradeshow booth award, 1995
  - World Workplace, Salt Lake City, "Most innovative use of materials," 1998
  - Steelcase Inc. University, Gov. Engler christened location as benchmark in cutting edge educational facilities, 2000
  - Brayton International, Dupont Merit Award for small office category, 2004
---

<div class="page-content">
  <header class="site-header">
    <h1 class="editable">Awards</h1>
  </header>
  <h2 class="editable">Published:</h2>
  <ul>
    {% for published in page.published %}
    <li>{{ published }}</li>
    {% endfor %}
  </ul>

  <h2 class="editable">Awards:</h2>
  <ul>
    {% for award in page.awards %}
    <li>{{ award }}</li>
    {% endfor %}
  </ul>
</div>